body {
  background-color: #333;
}

button {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 20px;
  background-color: transparent;
}

button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 15px solid black;
}